<% if current_user %>
<ul>
   <li><%= link_to "self check", "/self/check" %></li>
   <% if @done_self_check %>
   <li><%= link_to "other check", "/other/check" %> </li>
   <% if @exists_my_shohari %>
   <li><%= link_to "open my shohari", "/shohari/me" %> </li>
   <% end %>
   <% end %>
</ul>
<% else %>
<% end %>
