<% if current_user %>
<div class="well" style="text-align : left;">
<span id="descriptionArea">default</span>
</div>
    <div>
        <div class="button-inner">
        <%= link_to "self check", "/self/check", :id => 'selfCheck', :class => "btn btn-primary btn-large linkbutton" %>
<% if !@done_self_check %>
        &nbsp;<span class="label label-important absolute">&nbsp;next !!</span>
<% end %>
        </div>
    </div>
<% if @done_self_check %>
    <div>
        <div class="button-inner">
        <%= link_to "other check", "/other/list", :id => 'otherCheck', :class => "btn btn-primary btn-large linkbutton" %>
<% if !@done_other_check %>
        &nbsp;<span class="label label-important absolute">&nbsp;next !!</span>
<% end %>
        </div>
    </div>
<% if @exists_my_shohari %>
    <div>
        <div class="button-inner">
        <%= link_to "open my shohari", "/shohari/showme", :id => 'openShohari', :class => "btn btn-primary btn-large linkbutton" %>
        </div>
    </div>
<% end %>
<% end %>
<script type="text/javascript">
(function() {
    var defaultDescription = "default";
    var projectTitleDescription = "projectTitle";
    var selfCheckDescription = "selfCheck";
    var otherCheckDescription = "otherCheck";
    var openShohariDescription = "openShohari";
    $("#projectTitle").mouseover(function() {
        $('#descriptionArea').html(projectTitleDescription);
    })
    $("#projectTitle").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })

    $("#selfCheck").mouseover(function() {
        $('#descriptionArea').html(selfCheckDescription);
    })
    $("#selfCheck").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })
    $("#otherCheck").mouseover(function() {
        $('#descriptionArea').html(otherCheckDescription);
    })
    $("#otherCheck").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })
    $("#openShohari").mouseover(function() {
        $('#descriptionArea').html(openShohariDescription);
    })
    $("#openShohari").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })

})();
</script>
<% end %>

