<% if current_user %>
<div class="well" style="text-align : left;">
<span id="descriptionArea">ショハリはあなたが知っている自分と他人が知っている自分の違いを発見するためのサービスです。<br /><br />まずは自己評価をしてみましょう。そして自己評価が終わったら友達にあなたの評価をしてもらってください。<br /><br />あなた自身も知らない、あなたの意外な一面が分かるかもしれませんよ。</span>
</div>
    <div>
        <div class="button-inner">
        <%= link_to "self check", "/self/check", :id => 'selfCheck', :class => "btn btn-primary btn-large linkbutton" %>
<% if !@done_self_check %>
        &nbsp;<span class="label label-important absolute">&nbsp;next !!</span>
<% end %>
        </div>
    </div>
<% if @done_self_check %>
    <div>
        <div class="button-inner">
        <%= link_to "other check", "/other/list", :id => 'otherCheck', :class => "btn btn-primary btn-large linkbutton" %>
<% if !@done_other_check %>
        <span class="label label-important absolute">&nbsp;next !!</span>
<% end %>
        </div>
    </div>
<% end %>
    <div>
        <div class="button-inner">
        <%= link_to "open my shohari", "/shohari/showme", :id => 'openShohari', :class => "btn btn-primary btn-large linkbutton" %>
        </div>
    </div>

<script type="text/javascript">
(function() {
    var defaultDescription = "ショハリはあなたが知っている自分と他人が知っている自分の違いを発見するためのサービスです。<br /><br />まずは自己評価をしてみましょう。そして自己評価が終わったら友達にあなたの評価をしてもらってください。<br /><br />あなた自身も知らない、あなたの意外な一面が分かるかもしれませんよ。";
    var projectTitleDescription = "このリンクをクリックするとどこからでもトップに戻ります。<br /><br /><br /><br /><br />";
    var selfCheckDescription = "まずは自分が思う自分の性格を登録しましょう。<br /><br />あなたが思う自分の性格を７つまで選んでください。<br /><br /><br />";
    var otherCheckDescription = "このサービスを使っているFacebook上の友達の性格も登録してみましょう。<br /><br />誰が設定したかは本人には伝わりませんので、思うままに登録してみてください。<br /><br />友達がこのサービスを使っていないと評価できないので、どんどん誘ってあげてください。<br />";
    var openShohariDescription = "さあ結果発表です。<br /><br />あなたが知っている自分と、友達が知っている自分は、どれだけ一緒でしょうか。<br /><br />ちなみに、友達から評価を受けていない場合は結果は表示されませんので、その時は友達に登録をお願いしてみましょう。<br />";
    $("#projectTitle").mouseover(function() {
        $('#descriptionArea').html(projectTitleDescription);
    })
    $("#projectTitle").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })

    $("#selfCheck").mouseover(function() {
        $('#descriptionArea').html(selfCheckDescription);
    })
    $("#selfCheck").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })
    $("#otherCheck").mouseover(function() {
        $('#descriptionArea').html(otherCheckDescription);
    })
    $("#otherCheck").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })
    $("#openShohari").mouseover(function() {
        $('#descriptionArea').html(openShohariDescription);
    })
    $("#openShohari").mouseout(function() {
        $('#descriptionArea').html(defaultDescription);
    })

})();
</script>
<% else %>
<h3>ショハリをつかって<br />自分の知らない自分<br />他の人には知られていない自分を<br />明らかにしてみましょう！</h3>
<a href="/auth/facebook"><%= image_tag "login.jpg" %></a>
<% end %>

