<table class="table table-striped" style="width : 70%;" align="center">
<tr>
    <th>target</th>
    <th></th>
</tr>
<% if @friends %>
<% @friends.each do |f| %>
<tr>
    <td><%= f[:name] %></td>
    <td style="text-align : right;"><%= link_to 'check', {:controller => 'other', :action => 'check', :user_id => f[:user_id]}, :class => 'btn btn-primary' %></td>
</tr>
    
<% end %>
<% end %>
</table>
<%= link_to 'トップに戻る', '/', :class => 'btn' %>
