<div class="row">
<div class="span8">
<table class="table table-striped">
<tr>
    <th>target</th>
    <th></th>
</tr>
<% if @friends %>
<% @friends.each do |f| %>
<tr>
    <td><%= f[:name] %></td>
    <td><%= link_to 'check', {:controller => 'other', :action => 'check', :user_id => f[:user_id]} %></td>
</tr>
    
<% end %>
<% end %>
</table>

<div class="span7" style="text-align : center;">
<%= link_to 'トップに戻る', '/', :class => 'btn' %>
</div>
</div>
</div>
