<table class="table table-striped" style="width : 70%;" align="center">
<tr>
    <th>target</th>
    <th></th>
</tr>
<% if @friends %>
<% @friends.each do |f| %>
<tr>
    <td style="vertical-align: middle;"><img src="<%= "https://graph.facebook.com/" + f[:id].to_s + "/picture" %>" style="vertical-align: middle;"/><span><%= f[:name] %></span></td>
    <td style="text-align : right; vertical-align: middle;"><%= link_to 'check', {:controller => 'other', :action => 'check', :id => f[:user_id], :uid => f[:id], :uname => f[:name]}, :class => 'btn btn-primary' %></td>
</tr>
    
<% end %>
<% end %>
</table>
<%= link_to 'トップに戻る', '/', :class => 'btn' %>
