<table class="table table-striped">
<tr>
    <th>target</th>
    <th></th>
</tr>
<% if @friends %>
<% @friends.each do |f| %>
<tr>
    <td><%= f[:name] %></td>
    <td><%= link_to 'check', {:controller => 'other', :action => 'check', :user_id => f[:user_id]} %></td>
</tr>
    
<% end %>
<% end %>
</table>
