// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.linkbutton {
    width: 200px;
    margin: 5px;
}
.button-inner {
    position: relative;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.absolute {
    position: absolute;
    top: 12px;
    left: 180px;
}
